/* Reset Styles Group */
*{margin:0;padding:0;}
img,fieldset{border:none;}
img, object, audio, video {display: block; max-width: 100%;}
ul,ol{list-style:none;}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;float:none;font-size:0;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
a[href], a {text-decoration: none;}
table{border-collapse:collapse;border-spacing:0;}
a,a[href],a:focus{outline:none;}
input[type="text"], input[type="password"]{outline: none;}

/* @Center Elements with no WIDTH */
.outer {position: relative; left: 50%; float: left; clear: both;}
.inner {position: relative; left: -50%;}

/* @Sticky Footer group */
html, body {width: 100%; height: 100%;}
#wrap {min-height: 100%;}
.wrapper {padding-bottom: 305px;}  /* must be same height as the footer */
.footerWrap {position: relative; margin-top: -305px; height: 305px; clear:both;} 


/* Common Layout Styles */
body {background: #fff url(../img/common/page-bg.jpg) no-repeat 0 0; font-family: "rooney-web", Arial; font-size: 100%;}
.centered {width: 940px; margin: 0 auto;} /* Used to center align the content */
.headerWrap {height: 116px; background: #151515 url(../img/common/header-bg.png) repeat-x left top;}
.header {height: 116px;}
.logo {float: left; position: relative; top: 6px; width: 135px; height: 138px;}

/* @Social Media Group */
.socialMedia {width: 425px; float: right; margin-top: 12px; border-radius: 25px; background-color: #151515; box-sizing: border-box; padding: 0 13px 0 31px;}
.socialMedia a:not(:last-child) {float: left; width: 32px; line-height: 48px; margin-right: 18px; text-indent: -9999px; background-image: url(../img/common/social-media-300X300.png); background-repeat: no-repeat; background-position: left 8px;}
.socialMedia #fb {background-position: 0 8px;}
.socialMedia #li {background-position: -100px -92px;}
.socialMedia #tw {background-position: -200px -192px;}
.socialMedia a:last-child {font: bold 25px/48px arial; color: white; margin-left: 22px; background-image: url(../img/common/social-media-300X300.png); background-repeat: no-repeat; background-position: -300px -292px; padding-left: 24px;}

/* @Primary Navigation Group */
.primaryNav {float: right; margin-top: 9px;}
.primaryNav > li {float: left; margin-left: 20px; position: relative; z-index: 10;}
.primaryNav > li > a {display: block; font: italic 16px/47px "rooney-web", Arial; color: #ddd;}
.primaryNav > li[id] > a {padding-right: 15px; background: url(../img/common/nav-arrow.png) no-repeat right 20px;}
.primaryNav > li:first-child {margin-left: 0; padding-left: 0; background: none;}
.primaryNav > li:hover > a, .primaryNav > li > a.current {color: #f58220;}

.secondaryNav {display: none; position: absolute; border: #111 solid 1px; border-top: none; border-radius: 0 0 5px 5px; left: -20px; top: 47px; width: 180px; background-color: #333; z-index:100;}
.secondaryNav > li {border-top: #444 solid 1px;}
.secondaryNav > li:first-child {border-top: none;}
.secondaryNav > li > a {display: block; line-height: 18px; padding: 10px 5px 10px 20px; font-weight: normal; font-size: 0.8em; color: white; border-top: #252525 solid 1px; background: url(../img/common/dd-nav-icon.gif) no-repeat 10px 16px;}
.secondaryNav > li > a:hover {background-color: #222;}

.subNav {padding: 9px 0 9px 12px; background-color: #fff;}
.subNav > li {margin-top: 9px;}
.subNav > li:first-child {margin-top: 0;}
.subNav > li a {display: block; font-weight: normal; font-size: 10px; line-height: 10px; color: #2b2a26;}
.subNav > li a:hover {color: #ff0671;}

/* DropDown Magic Happens Here */
.primaryNav > li:hover .secondaryNav {display: block;}

/* @Masthead Group */
.mastHead {margin-top: 76px; background: url(../img/common/masthead-bg.png) repeat; border-radius: 4px; box-sizing: border-box; padding: 48px 37px 51px 48px; color: white;}
.mastHead h1 {font: italic bold 40px/48px "rooney-web", Arial; margin-bottom: 11px;}
.mastHead p {font: italic 16px/23px "rooney-web", Arial; margin-bottom: 25px;}
.mastHead p:last-child {margin-bottom: 0;}
.mastHead p a[href] {text-decoration: underline; color: white;}
#quote {width: 213px; margin: -26px auto 0 auto;}
#quote, #quote * {text-align: center; color: white;}
#quote a:last-child {text-decoration: underline;}
#getQuote {height: 51px; display: block; background: url(../img/common/btn-get-quote.png) no-repeat 0 0; font: normal 28px/48px "rooney-web", Arial; text-decoration: none;}

/* @Testimonials Group */
.testimonials {background: url(../img/common/testimonials-bg.png) repeat; color: #f9f9f9; font: italic normal 20px/30px "rooney-web", Arial; margin: 37px 0 16px 0;}
.testimonials blockquote {box-sizing: border-box; padding: 43px 22px 0 22px; margin-bottom: 16px;}
blockquote + cite {display: block; width: 940px; margin: auto; box-sizing: border-box; padding: 0 22px 30px 22px; font: italic normal 20px/26px "rooney-web", Arial; color: #666;}

/* @Footer Group */
.footerWrap {background: url(../img/common/footer-bg.png) repeat-x left top;}
.footer {box-sizing: border-box; padding: 22px 0 17px 48px;}
.footer > div {float: left; box-sizing: border-box; width: 247px; border-left: #333 solid 1px; padding-left: 23px; padding-right: 15px; color: #888;}
.footer > div:first-child{border-left: none;}
.footer > div:last-child {width: 396px; padding-right: 0;}

/* @Address Group */
.address {font-size: 16px; font-style: italic;}
.address > div {margin-bottom: 39px;}
.address strong {display: block; color: #ccc; margin-bottom: 10px; line-height: 13px;}
.address strong + div {line-height: 18px;}
	
	/* @DetailsList Group */
	.detailsList li {background-image: url(../img/common/social-media-300X300.png); background-repeat: no-repeat; padding-left: 40px; margin-top: 20px;}
	.detailsList li:first-child {margin-top: 0;}
	.detailsList #email {background-position: -400px -400px;}
	.detailsList #skype {background-position: -500px -500px;}
	.detailsList #phoneUs {background-position: -595px -600px;}
	.detailsList #phoneIn {background-position: -595px -600px;}
	.detailsList li > * {font-size: 14px; color: #888;}
	.detailsList li > strong {color: #ccc; line-height: 17px; margin-bottom: 0;}

/* @Footer Identity Group */
#identity > * {font: italic normal 18px/25px "rooney-web", Arial;}
#identity img {margin: 3px 0 28px 0;}
#identity strong {display: block; color: #ccc;}
#identity p {font-size: 14px; color: #888;}