.socialMedia a[href] {float: left; width: 32px; line-height: 48px; margin-left: 18px; text-indent: -9999px; background-image: url(../img/common/social-media-300X300.png); background-repeat: no-repeat; background-position: left 8px;}
.socialMedia a {font: bold 25px/48px arial; color: white; text-indent: 0; width: auto; margin-left: 40px; background-position: -300px -292px;}